<div class="card card-body mt-5 text-center">
    <h3>Problema</h3>
    <hr class="border-dark" />
    <div class="row">
        <div class="col-12 mb-5 mt-5 d-flex justify-content-center text-center">
            <hr />
            <div class=""><i class="alert alert-danger">@ViewData["Error"]</i></div>
            <hr />
        </div>
        <div class="col-12 d-flex justify-content-center text-center">
            <div class="col-2">
                <a asp-action="index" asp-controller="home" class="btn btn-primary form-control">Voltar</a>
            </div>
        </div>

    </div>
</div>